{deps, []}.
{plugins, [
    {rebar3_hex, "~> 7.0.8"}
]}.
{hex, [
    {doc, false}
]}.

{erl_opts, [debug_info]}.
{src_dirs, ["hex"]}.

{pre_hooks, [
    {"(linux|darwin|solaris)", compile, "mkdir -p priv"},
    {"(linux|darwin|solaris)", compile, "cp -R areas countries helper states priv/"}
]}.

{post_hooks, [
    {"(linux|darwin|solaris)", clean, "rm -rf priv"}
]}.
